<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Labo4_NET8.Settings.ConnectionString" connectionString="Server=5CD322B2FQ\SQLEXPRESS;Database=LaboDB;Integrated Security=True;TrustServerCertificate=True;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>